version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: conference
    environment:
      POSTGRES_DB: conference_db
      POSTGRES_USER: lucas
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
